# https://docs.npmjs.com/cli/v8/using-npm/config

auto-install-peers=true # pnpm
engine-strict=true
package-lock=true # 默认为 true, 设置 false 将忽略 package-lock.json 文件
# legacy-peer-deps=true # 不推荐，默认 false，任何 peerDependencies 冲突都将被视为安装失败
# save-exact=true # 安装的依赖项使用精确的版本进行配置，不使用 npm 的默认 semver 范围运算符
